<!--Affichage de la météo des villes choisies dans le localStorage-->
<div class="section" ng-controller="meteovilles">
    <form>
        <!--Ajout d'une barre de recherche remplie avec le nom des villes-->
        <div class="input-field">
            <i class="material-icons prefix no-select">location_city</i>
            <i class="material-icons suffix no-select" ng-click="clear()" style="cursor: pointer">clear</i>
            <input autocomplete="off" class="autocomplete" id="autocomplete-form" ng-model="ville" type="text"/>
            <label for="autocomplete-form">Entrez une ville</label>
        </div>
    </form>
    <ul>
        <!--Pour chaque ville, crée une carte avec ses informations et tri par contenu de la barre de recherche-->
        <li ng-repeat="v in villes | filter: ville track by v.id">
            <div class="card blue-grey darken-1">
                <div class="card-content white-text">
                    <span class="card-title">{{v.nom}}</span>
                    <p>{{"Météo : " + v.data.weather}} <i ng-class="v.data.weatherIcon"></i></p>
                    <p>{{"Température : " + v.data.temp + "°C"}}</p>
                    <p>{{"Pression : " + v.data.pressure + " hPa"}}</p>
                    <p>{{"Humidité : " + v.data.humidity + "%"}}</p>
                    <p>{{"Vent : " + v.data.wind + " m/s"}} <i ng-class="v.data.windIcon"></i></p>
                    <!--Bouton flottant pour supprimer la ville-->
                    <div class="fixed-action-btn btn-holder">
                        <button class="btn-floating btn-large" ng-click="remove(v.nom)">
                            <i class="large material-icons no-select">remove</i>
                        </button>
                    </div>
                </div>
                <!--Lien vers les prévisions de la ville-->
                <div class="card-action">
                    <a ng-href="/previsions/{{v.id}}">Prévisions sur 7 jours</a>
                </div>
            </div>
        </li>
    </ul>
</div>